* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Playfair Display", serif;
	background-color: rgb(229, 229, 229);
}

@media screen and (min-width: 700px) {
	body {
		height: 100vh;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	padding: 2rem 4rem;
	max-width: 800px;
	margin: auto;
}

li {
	font-size: 1.2rem;
	margin-left: 1.5rem;
}

#landing-title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.flex-row-text {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	transition: 0.2s ease all;
}

.flex-row-text:hover {
	cursor: pointer;
	opacity: 0.6;
}

.flex-row-text:hover #right-arrow {
	transform: translateX(5px);
}

#right-arrow {
	width: 30px;
	margin-left: 0.2rem;
	transition: 0.2s ease all;
}

.fade-up {
	animation: fadeIn 1s;
}

.body-copy {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 30px;
}

.canvas {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#cnv {
	max-width: 560px;
	border: 1px solid black;
	margin: 1rem 0;
}

.name-input {
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	border: none;
	border-bottom: 1px dashed black;
	transition: 0.2s ease all;
	max-width: 200px;
	transition: 0.2s ease all;
}

.flex-col > h2 {
	font-weight: 500;
	text-align: center;
}

.flex-col > h3 {
	font-weight: 400;
	text-align: center;
}

.success-image {
	height: min-content;
	width: 500px;
}

#date {
	border-bottom: 1px solid black;
}

::placeholder {
	color: grey !important;
}

.focused {
	border-bottom: 1px solid black;
}

.e-sign {
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid black;
	transition: 0.2s ease all;
	max-width: 150px;
}
.e-sign-div {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#time,
.time {
	margin-bottom: 1rem;
	text-align: center;
	margin-top: 1rem;
}

.back-link {
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.2s ease all;
	margin-bottom: 2rem;
}

.back-arrow {
	margin-right: 0.5rem;
}
.back-link:hover {
	opacity: 0.7;
}

.back-text {
	transition: 0.2s ease all;
}

.back-link:hover > .back-text {
	transform: translateX(5px);
}

.mail-link {
	color: #1da7ea;
}

.undersign {
	border: none;
}

.name-input:focus {
	transition: 0.2s ease all;

	outline: none;
}

.name-input::placeholder {
	font-family: inherit;
	font-size: inherit;
}

.flex-row {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

#submit {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 0px;
	padding: 0.3rem 0.6rem;
	font-size: 1.2rem;
	font-family: "Playfair Display", serif;
	transition: 0.2s ease all;
	margin-top: 1rem;
	color: black;
}

#submit:hover {
	cursor: pointer;
	opacity: 0.6;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contract-border {
	padding: 3rem 3rem;
	border: 1px dashed black;
}

@media screen and (max-height: 800px) {
	#cnv {
		max-width: 400px;
	}
}
@media screen and (max-width: 700px) {
	main {
		padding: 2rem 1rem;
	}
	.flex-col {
		height: calc(100vh - 4rem);
	}
	#landing-title {
		font-size: 1.7rem;
	}

	#cnv {
		max-width: 300px;
	}
	.contract-border {
		padding: 1rem;
	}
}

@media screen and (max-width: 500px) {
	.success-image {
		width: 400px;
	}
}
